<div id="map" class="map">
</div>


<ng-template [ngIf]="visibleWork">
    
    <p-dialog header="Карточка подработки"
            [modal]="true" 
            [(visible)]="visible"
            [style]="{ width: '35rem' }"
            (onHide)="onHide()"
>
        <p-card [header]="visibleWork.contact" [subheader]="visibleWork.address">
            <ng-template pTemplate="header">
                <p-galleria 
                    [(value)]="visibleWork.images"
                    [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '640px' }" 
                    [numVisible]="5"
                    [showItemNavigators]="true" 
                    [showThumbnails]="false" 
                    >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%;" />
                    </ng-template>
                </p-galleria>
            </ng-template>
            <p>
                {{visibleWork.description}}
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Показать контакты" class="w-full" styleClass="w-full" (click)="getPhoneNumber($event, visibleWork)"/>
                </div>
            </ng-template>
        </p-card>
    </p-dialog>

</ng-template>