<div class="layout-topbar">
    <!-- <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
    </a> -->

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div class="" style="text-align: center; width: 100%; font-size: 1.5rem; font-weight: 700; font-family: 'Montserrat Alternates', sans-serif;">
        ПОДРАБОТКИ УФА
    </div>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
       
        <button title="Добавить подработку" (click)="showDialog()" class="p-link layout-topbar-button">
            <i class="pi pi-plus"></i>
            <span>Добавить подработку</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'auth'" >
            <i class="pi pi-user"></i>
            <span>Профиль</span>
        </button>
    </div>
</div>

<div class="card flex justify-content-center">
    <p-dialog 
        header="Header" 
        [(visible)]="visible" 
        [modal]="true" 
        [style]="{ width: '45rem' }"
        >
            <ng-template pTemplate="header">
                <div class="inline-flex align-items-center justify-content-center gap-2">
                    <!-- <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                        shape="circle" /> -->
                    <span class="font-bold white-space-nowrap">
                        Опишите работу
                    </span>
                </div>
            </ng-template>
            <!-- <span class="p-text-secondary block mb-5">Update your information.</span> -->
            <div class="flex align-items-center gap-3 mt-2 mb-3">
                <label for="address" class="font-semibold w-6rem">
                    Адрес
                </label>
                
                <span class="p-fluid flex-auto">  
                    <p-autoComplete 
                        [(ngModel)]="newWork.address" 
                        [suggestions]="suggestions" 
                        (completeMethod)="searchAddress($event)" 
                        inputId="address" 
                        placeholder="Начните вводить адрес"
                        (onSelect)="onSelect($event)"
                        />
                    <small id="username-help" class="ml-1">
                        Пример: Уфа, Энтузиастов, 11
                    </small>
                </span>
                <!-- <input pInputText 
                    id="address" 
                    class="flex-auto" 
                    autocomplete="off"
                    [(ngModel)]="newWork.address"
                    /> -->
            </div>
            <!-- <div class="flex align-items-center gap-3 mb-3">
                <label for="phone" class="font-semibold w-6rem">
                    Телефон
                </label>
                <input pInputText 
                    id="phone" 
                    class="flex-auto" 
                    autocomplete="off"
                    [(ngModel)]="newWork.phone"
                />
            </div> -->
            <div class="flex align-items-center gap-3 mb-3">
                <label for="description" class="font-semibold w-6rem">
                    Описание
                </label>
                <textarea
                    id="description"
                    rows="5"
                    cols="30"
                    class="flex-auto"
                    pInputTextarea
                    [(ngModel)]="newWork.description"
                    >
                </textarea>
            </div>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="price" class="font-semibold w-6rem">
                    Оплата
                </label>
                <input pInputText 
                    id="price" 
                    class="flex-auto" 
                    autocomplete="off"
                    [(ngModel)]="newWork.price"
                />
            </div>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="iamge" class="font-semibold w-6rem">
                    Фото
                </label>
                
                <p-fileUpload 
                    name="demo[]"
                    (uploadHandler)="onUpload($event)" 
                    [multiple]="true"
                    [customUpload]="true"
                    [showUploadButton]="false"
                    accept="image/*"
                    maxFileSize="3000000"
                    class="flex-auto"
                    #pFileUpload
                    >
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">
                                    {{ file.name }} - {{ file.size }} bytes
                                </li>
                            </ul>
                        </ng-template>
                </p-fileUpload>
               
            </div>
            <!-- <div class="flex align-items-center gap-3 mb-5">
                <label for="email" class="font-semibold w-6rem">Email</label>
                <input pInputText id="email" class="flex-auto" autocomplete="off" />
            </div> -->
            <ng-template pTemplate="footer">
                <p-button 
                    label="Закрыть" 
                    [text]="true" 
                    severity="secondary" 
                    (click)="visible = false" />
                <p-button 
                    label="Сохранить" 
                    [outlined]="true" 
                    severity="secondary" 
                    (click)="saveNewWork()" 
                  />
            </ng-template>
    </p-dialog>
</div>