<div class="grid">
	<div class="col-12 md:col-6 ">
		<div class="card p-fluid">
			<h5>Основная информация</h5>
			<div class="field">
				<label htmlFor="name">Имя</label>
				<input pInputText id="name" type="text" [(ngModel)]="displayName"/>
			</div>
			<!-- <div class="field">
				<label htmlFor="email">Почта</label>
				<input pInputText id="email" type="text" [(ngModel)]="email"/>
			</div> -->
			<div class="field">
				<label htmlFor="phome">Номер мобильного</label>
				<input pInputText id="phome" type="text" [(ngModel)]="phoneNumber"/>
			</div>
			<!-- <div class="field">
				<label htmlFor="password">Пароль</label>
				<input pInputText id="password" type="text" [(ngModel)]="displayName"/>
			</div>
			
			<div class="field">
				<label htmlFor="password2">Повторите пароль</label>
				<input pInputText id="password2" type="text" [(ngModel)]="displayName"/>
			</div> -->

			<p-button (click)="updateCurrentUser()">
				Сохранить
			</p-button>

		</div>
		
		
	</div>
	<div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Мои подработки</h5>
			<div class="card">
				<p-dataView #dv [value]="userWorks" [rows]="10" [paginator]="true">
					<ng-template pTemplate="list" let-works>
						<div class="grid grid-nogutter">
							<div class="col-12" *ngFor="let item of works; let first = first" class="col-12">
								<div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
									<div class="md:w-10rem relative">
											<ng-container *ngIf="item.images; else skeletonImg" >
												<p-galleria 
													[(value)]="item.images" 
													[responsiveOptions]="responsiveOptions" 
													[containerStyle]="{ 'max-width': '640px' }" 
													[numVisible]="5"
													[showItemNavigators]="true" 
													[showThumbnails]="false" 
													>
													<ng-template pTemplate="item" let-item>
														<img [src]="item.itemImageSrc" style="width: 100%;" />
													</ng-template>
													<!-- <ng-template pTemplate="thumbnail" let-item>
														<div class="grid grid-nogutter justify-content-center">
															<img [src]="item.thumbnailImageSrc" />
														</div>
													</ng-template> -->
											</p-galleria>
											<!-- <img class="block xl:block mx-auto border-round w-full" [src]="item.image" [alt]="item.name" /> -->
										</ng-container>
			
										<ng-template #skeletonImg>
											<p-skeleton width="10rem" height="6rem"></p-skeleton>
										</ng-template>
									</div>
									<div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
										<div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
											<div>
												<span class="font-medium text-secondary text-sm">{{ item.customerName }}</span>
												<div class="text-lg font-medium text-900 mt-2">{{ item.description }}</div>
											</div>
											<div class="surface-100 p-1" style="border-radius: 30px">
												<div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
													<span class="text-900 font-medium text-sm">{{ item.address }}</span>
													<!-- <i class="pi pi-star-fill text-yellow-500"></i> -->
												</div>
											</div>
										</div>
										<div class="flex flex-column md:align-items-end gap-5">
											<span class="text-xl font-semibold text-900">{{ '₽' + item.price }}</span>
											<div class="flex flex-row-reverse md:flex-row gap-2">
												<!-- <p-button icon="pi pi-heart" [outlined]="true" /> -->
												<p-button icon="pi pi-phone" class="flex-auto md:flex-initial white-space-nowrap" label="Получить контакт" [disabled]="item.inventoryStatus === 'OUTOFSTOCK'" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</p-dataView>
			</div>
		</div>
	</div>

	<!-- <div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Horizontal</h5>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
				<div class="col-12 md:col-10">
					<input pInputText id="name3" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
				<div class="col-12 md:col-10">
					<input pInputText id="email3" type="text" />
				</div>
			</div>
		</div>

		<div class="card">
			<h5>Inline</h5>
			<div class="formgroup-inline">
				<div class="field">
					<label htmlFor="firstname1" class="p-sr-only">Firstname</label>
					<input pInputText id="firstname1" type="text" placeholder="Firstname" />
				</div>
				<div class="field">
					<label htmlFor="lastname1" class="p-sr-only">Lastname</label>
					<input pInputText id="lastname1" type="text" placeholder="Lastname" />
				</div>
				<button pButton label="Submit"></button>
			</div>
		</div>

		<div class="card">
			<h5>Help Text</h5>
			<div class="field p-fluid">
				<label htmlFor="username">Username</label>
				<input pInputText id="username" type="text" />
				<small>Enter your username to reset your password.</small>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			<h5>Advanced</h5>
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label htmlFor="firstname2">Firstname</label>
					<input pInputText id="firstname2" type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="lastname2">Lastname</label>
					<input pInputText id="lastname2" type="text" />
				</div>
				<div class="field col-12">
					<label htmlFor="address">Address</label>
					<input pInputTextarea id="address" rows="4" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="city">City</label>
					<input pInputText id="city" type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="state">State</label>
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="zip">Zip</label>
					<input pInputText id="zip" type="text" />
				</div>
			</div>
		</div>
	</div> -->
</div>
