<div class="surface-ground flex align-items-center justify-content-center min-h-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        
        <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                 -->
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                

                <!-- <div class="text-center mb-5">
                    <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome, Isabel!</div>
                    <span class="text-600 font-medium">Войдите чтобы продолжить</span>
                </div> -->
    
                <div *ngIf="signedIn; else signedOut">

                    <div *ngIf="!verificationOpened">
                        <div class="text-center mb-5">
                            <div class="text-900 text-3xl font-medium mb-3">Регистрация</div>
                        </div>

                        <label for="phone" class="block text-900 text-xl font-medium mb-2">Номер телефона</label>
                        <p-inputMask 
                            mask="+7(999)-999-9999" 
                            [(ngModel)]="phoneNumber" 
                            placeholder="+7(999)-99-9999"
                            [styleClass]="'w-full md:w-30rem mb-5 p-3'"
                            id="phone"
                        />
                        <!-- <input id="phone" type="text" [(ngModel)]="phoneNumber" placeholder="Номер мобильного телефона" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem"> -->
                        
                        <label for="name" class="block text-900 text-xl font-medium mb-2">Имя пользователя</label>
                        <input id="name" type="text" [(ngModel)]="loginString" placeholder="Имя" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
    
                        <!-- <label for="password1" class="block text-900 font-medium text-xl mb-2">Пароль</label>
                        <p-password id="password1" [(ngModel)]="passwordString" placeholder="Пароль" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
    
                        <label for="password2" class="block text-900 font-medium text-xl mb-2">Повтор пароля</label>
                        <p-password id="password2" [(ngModel)]="passwordRepeatString" placeholder="Повтор пароля" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password> -->

                        <div class="flex align-items-center justify-content-between mb-0 gap-3" style="flex-direction: column;">
                            <button pButton pRipple label="Зарегистрироваться" class="w-full p-3 text-xl" (click)="signInWithPhoneNumber()"></button>
                            <button  pButton pRipple label="Назад" class="w-full m-1 p-3 bg-transparent text-primary text-xl" (click)="changeForm()"></button>

                        </div>

                    </div>
                    
                </div>

                <ng-template #signedOut>
                    <div>

                        <div  *ngIf="loggedIn; else loggedOut">

                            <div class="text-center mb-5">
                                <div class="text-900 text-3xl font-medium mb-3">Здравствуйте</div>
                                <!-- <span class="text-600 font-medium">Войдите чтобы продолжить</span> -->
                            </div>
    
                            <button pButton pRipple label="Выйти" class="w-full mb-4 p-3 text-xl" (click)="logout()"></button>
                            <button pButton pRipple label="На главную" class="w-full m-1 p-3 bg-transparent text-primary mb-4 p-3 text-xl" [routerLink]="'/'"></button>
                        </div>


                        <ng-template #loggedOut >

                            <div *ngIf="!verificationOpened">
                                <div class="text-center mb-5">
                                <!-- <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3"> -->
                                    <div class="text-900 text-3xl font-medium mb-3">Вход</div>
                                    <span class="text-600 font-medium">Войдите чтобы продолжить</span>
                                </div>
                                <label for="email1" class="block text-900 text-xl font-medium mb-2">Номер телефона</label>
                                <p-inputMask 
                                    mask="+7(999)-999-9999" 
                                    [(ngModel)]="phoneNumber" 
                                    placeholder="+7(999)-99-9999"
                                    [styleClass]="'w-full md:w-30rem mb-5 p-3'"
                                    id="phone"
                                />
                                <!-- <input id="email1" type="text" [(ngModel)]="phoneNumber" placeholder="Номер мобильного телефона" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem"> -->
            
                                <!-- <label for="password1" class="block text-900 font-medium text-xl mb-2">Пароль</label>
                                <p-password id="password1" [(ngModel)]="passwordString" placeholder="Пароль" [feedback]="false" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
             -->
                                <div class="flex align-items-center justify-content-between mb-0 gap-5">
                                    <!-- <div class="flex align-items-center">
                                        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                                        <label for="rememberme1">Remember me</label>
                                    </div> -->
                                    <!-- <a class="font-medium no-underline ml-2 mb-2 text-right cursor-pointer" 
                                        style="color: var(--primary-color)"
                                        [routerLink]="['reset']"
                                        >
                                        Забыли пароль?
                                    </a>  -->
                                </div>
                                <button  pButton pRipple label="Войти" class="w-full mb-4 p-3 text-xl" (click)="login()"></button>
                                <button  pButton pRipple label="Регистрация" class="w-full m-1 p-3 bg-transparent text-primary text-xl" (click)="changeForm()"></button>
                                <!-- <button  pButton label="На главную" class="w-full m-1 p-3 bg-transparent text-primary text-xl" ></button> -->
                                <div  class="flex m-auto w-full p-3 bg-transparent text-primary text-xl" style="justify-content: center;">
                                    <p-button icon="pi pi-home" [rounded]="true" [routerLink]="'/'" severity="primary" />
                                </div>
                            </div>
                            
                        </ng-template>
                    
                    </div>
                </ng-template>

                <div [ngStyle]="{'display': getDisplay()}" id="recaptcha-container" style="margin: 10px; justify-content: center;"></div>

                <div  *ngIf="verificationOpened" class="card flex justify-content-center gap-2" style="flex-direction: column;">
                    <p-inputOtp 
                        [(ngModel)]="verificationCode" 
                        [length]="6" 
                        class="custom-otp-input"

                    >
                        <ng-template pTemplate="input" let-token let-events="events" let-index="index">
                            <input 
                                pInputText
                                type="text" 
                                [maxLength]="1" 
                                (input)="events.input($event)" 
                                (keydown)="events.keydown($event)" 
                                [attr.value]="token" 
                                class="custom-otp-input" 
                                type="tel" inputmode="tel"
                                />
                            
                        </ng-template>
                    </p-inputOtp>
                    <button pButton pRipple label="Отправить код" class=" p-3 bg-transparent text-primary border-none text-xl" (click)="verifyCode()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
