/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";
@import "node_modules/ol/ol.css";

html {
    max-width: 1440px;
    margin: 0 auto;
}

.map {
    position: fixed;
    height: calc(100% - 130px);
    padding-top: 8px;
    transition: width 200ms;
}

.p-galleria .p-galleria-item-nav .p-icon-wrapper .p-icon {
    width: 1rem;
    height: 1rem;
}

.custom-otp-input .p-inputtext {
    width: 40px;
    margin: 0 5px;
    text-align: center;
}